@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    /* Modificação */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    /* Emplementação própria */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 60%;
    padding: 1.25rem 0;
    box-shadow: 1.25rem 1.25rem 1.875rem rgb(0,0,0, 0.2);
    background: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    color: #142b37;
    border-radius: .4rem;
    display: grid;
    justify-items: center;
}

.wapper {
    width: 100%;
    text-align: center;
}

input[type='range'] {
    display: inline-block;
    width: 80%;
    margin-left: .625rem;
    margin-top: 1.5rem
}

input[type='range']::-webkit-scrollbar-track {
    background-color: #F02A0C;
}

span {
    display: inline-block;
    text-align: center;
    margin: 1.25rem 0;
    background-color: #F02A0C;
    color: #fff;
    padding: .625rem 1.875rem;
    font-size: 1.1rem;
    letter-spacing: .03rem;
    border-radius: .4rem;
}