@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #F02A0C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #F02A0C, #a53827);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 1.2rem;
    border-radius: .5rem;
    gap: .6rem;
    box-shadow: 1.25rem 1.25rem 1.875rem rgb(0,0,0, 0.2);
}

.modal-play button {
    text-transform: uppercase;
    background: #F02A0C;
}

/* .modal-play button:hover {
    background: #9c1b08;
} */


.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 36.25rem;
    background: #fff;
    padding: 3.125rem .625rem;
    border-radius: .4rem;
    display: grid;
    place-items: center;
    box-shadow: 1.25rem 1.25rem 1.875rem rgb(0,0,0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.container.show {
    opacity: 1;
    pointer-events: all;
}

h3  {
    font-size: 1.1rem;
}

input[type="text"] {
    width: 5.625rem;
    color: #663399;
    padding: 1.25rem 0;
    text-align: center;
    margin-top: 1.875rem;
    border-radius: .4rem;
    border: 2px solid #202020;
}

button {
    width: 10rem;
    padding: .9rem 0;
    border-radius: .4rem;
    background-color: #b32f1b;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 1.875rem;
}

button:hover {
    background: #9c1b08;
}

button#close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: 400;
}