* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
    transition: all .3s ease-in-out;
}

body.dark {
    background: #26314e;
}

.toggle {
    position: relative;
    height: 8.125rem;
    width: 18.75rem;
    border-radius: 6.25rem;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
    cursor: pointer;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 6.867rem;
    height: 6.875rem;
    background: #4070f4;
    border-radius: 100%;
    top: 50%;
    left: 0.875rem;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
}

.toggle.active::before {
    background: #26314e;
    left: calc(100% - 6.867rem - .875rem);
}